@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding: 12px;
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

.custom-collapse .ant-collapse-header {
  background-color: #eee;
}